<div class="career">
  <div class="app__limiter career__limiter">
    <h2 class="heading career-heading">Карьера</h2>
    <div class="career-subheading">
      С радостью возьмем в свою команду профессионалов. Посмотрите наши вакансии, может одна из них именно вам подойдет.
    </div>
    <div class="career__block">
      <div class="career__block-prof">
        Главный специалист по финансовым расследованиям
      </div>
      <a href="#" class="career__block-more">Подробнее</a>
    </div>
    <div class="career__block">
      <div class="career__block-prof">
        Аналитик по бизнес-планированию
      </div>
      <a href="#" class="career__block-more">Подробнее</a>
    </div>
    <div class="career__block">
      <div class="career__block-prof">
        Менеджер по работе с клиентами 
      </div>
      <a href="#" class="career__block-more">Подробнее</a>
    </div>
    <div class="career__more">
      <a href="#" class="career__more-link">Все вакансии</a>
    </div>
  </div>
</div>