<footer class="footer">
  <div class="footer__contacts">
    <div class="app__limiter">
      <div class="footer__contacts-content">
        <div class="footer__contacts-adress">
          БЦ «Гринвич», Новосибирск, Красноярская, 35
        </div>
        <div class="footer__contacts-square">
        </div>
        <a href="83832637713" class="footer__contacts-tel">
        +7 (383) 263 77 13</a>
        <div class="footer__contacts-square">
        </div>
        <a href="mail@invest-consult.org"
        class="footer__contacts-post">mail@invest-consult.org</a>
      </div>
    </div>
  </div>
  <div class="footer__inner">
    <div class="app__limiter">
      <div class="footer__inner-content">
        <div class="footer__inner-company">
          <a href="/investment/pages/main.html" class="footer__logo"></a>
          Invest Consalt - ваш надежный партнер в сфере инвестиций. Занимаемся инвестиционным консультированием
          физических и юридических лиц. Составлением индивидуальных инвестиционных портфелей с учетом инвестиционного
          профиля и заданными целями клиента. С 2011 мы делаем это в России.
        </div>
        <div class="footer__inner-services">
          <h5 class="footer__inner-heading">Услуги</h5>
          <ul class="footer__inner-links">
            <li><a href="#" class="footer__inner-link">
            Консультирование частных инвесторов</a></li>
            <li><a href="#" class="footer__inner-link">
            Составление и ведение портфелей</a></li>
            <li><a href="#" class="footer__inner-link">
            Секьюриация активов </a></li>
            <li><a href="#" class="footer__inner-link">
            Помощь по вопросам международних счетов</a></li>
            <li><a href="#" class="footer__inner-link">
            Помощь в решении задач по ВНЖ, ПМЖ, Гражданства</a></li>
          </ul>
        </div>
        <div class="footer__inner-about">
        <h5 class="footer__inner-heading">О компании</h5>
          <ul class="footer__inner-links">
            <li><a href="/investment/pages/about.html" class="footer__inner-link">
            О компании</a></li>
            <li><a href="/investment/pages/services.html" class="footer__inner-link">
            Услуги</a></li>
            <li><a href="/investment/pages/blog.html" class="footer__inner-link">
            Блог</a></li>
            <li><a href="/investment/pages/seekers.html" class="footer__inner-link">
            Соискателям</a></li>
            <li><a href="/investment/pages/contacts.html" class="footer__inner-link">
            Контакты</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__copy">
    <div class="app__limiter">
      <div class="footer__copy-content">
        Copyright © 2016 ООО «Инвест-Консалт»
      </div>
    </div>
  </div>
</footer>
{% include 'includes/blocks/popups.njk' %}
