<div class="mainservice">
  <div class="mainservice__head">
    <h2 class="heading mainservice-heading">Услуги</h2>
  </div>
  <div class="mainservice__slider multiple-items">
    <a href="#" class="mainservice__slide">
      <div class="mainservice__slide-num">
        01
      </div>
      <h3 class="user-input">Консультирование частных инвесторов</h3>
      <p class="user-input">Краткое описание данной услуги, пару строк текста о самом главном.</p>
      <div class="mainservice__slide-more">
        Подробнее
      </div>
    </a>
    <a href="#" class="mainservice__slide">
      <div class="mainservice__slide-num">
        02
      </div>
      <h3 class="user-input">Составление и ведение портфелей</h3>
      <p class="user-input">Краткое описание данной услуги, пару строк текста о самом главном.</p>
      <div class="mainservice__slide-more">
        Подробнее
      </div>
    </a>
    <a href="#" class="mainservice__slide">
      <div class="mainservice__slide-num">
        03
      </div>
      <h3 class="user-input">Помощь по вопросам международних счетов</h3>
      <p class="user-input">Краткое описание данной услуги, пару строк текста о самом главном.</p>
      <div class="mainservice__slide-more">
        Подробнее
      </div>
    </a>
    <a href="#" class="mainservice__slide">
      <div class="mainservice__slide-num">
        04
      </div>
      <h3 class="user-input">Консультирование частных инвесторов</h3>
      <p class="user-input">Краткое описание данной услуги, пару строк текста о самом главном.</p>
      <div class="mainservice__slide-more">
        Подробнее
      </div>
    </a>
    <a href="#" class="mainservice__slide">
      <div class="mainservice__slide-num">
        05
      </div>
      <h3 class="user-input">Составление и ведение портфелей</h3>
      <p class="user-input">Краткое описание данной услуги, пару строк текста о самом главном.</p>
      <div class="mainservice__slide-more">
        Подробнее
      </div>
    </a>
    <a href="#" class="mainservice__slide">
      <div class="mainservice__slide-num">
        06
      </div>
      <h3 class="user-input">Помощь по вопросам международних счетов</h3>
      <p class="user-input">Краткое описание данной услуги, пару строк текста о самом главном.</p>
      <div class="mainservice__slide-more">
        Подробнее
      </div>
    </a>
  </div>
</div>