<div class="app__limiter personal">
  <h2 class="heading personal-heading">Персональные решения Ваших инвестиционных задач</h2>
  <h4 class="personal-subheading">Наша компания занимается инвестиционным консультированием
    физических и юридических лиц. Составлением индивидуальных инвестиционных портфелей с учетом инвестиционного
    профиля и заданными целями клиента.</h4>
  <div class="personal__block">
    <div class="personal__block-img">
      <img src="../assets/mainpersonal.jpg" alt="img">
    </div>
    <div class="personal__block-content">
      <p class="buser-input">
        Для достижения поставленных целей мы используем самые актуальные и надежные инструменты ведущих инвестиционных домов.
      </p>
      <h3 class="user-input">Действуем в интересах наших клиентов</h3>
      <p class="user-input">
        Наши решения всегда основаны на задачах, которые ставит перед нами клиент.</p>
      <h3 class="user-input">Оказываем максимальный уровень сервиса</h3>
      <p class="user-input">Мы стремимся постоянно развивать и совершенствовать качество оказываемых услуг.</p>
    </div>
  </div>
  <div class="personal__block">
    <div class="personal__block-content">
      <h3 class="user-input personal__user-input">Начинаем работу только после всестороннего изучения задачи.</h3>
      <p class="buser-input">
        Особенностью нашего подхода является принцип индивидуальности решений для каждого клиента. Мы учитываем как
        экономические, так и психологические факторы для выбора наиболее эффективной
        и комфортной формы инвестирования.
      </p>
    </div>
    <div class="personal__block-bg">
      <h3 class="user-input_white personal__user-input">Работаем с разными<br> категориями клиентов</h3>
      <ul class="personal__list">
        <li class="personal__list-item">
          Частными инвесторами
        </li>
        <li class="personal__list-item">
          Корпоративными клиентами
        </li>
        <li class="personal__list-item">
          Институциональными участниками
        </li>
        <li class="personal__list-item">
          Хедж-фондами
        </li>
        <li class="personal__list-item">
          Доверительными управляющими
        </li>
        <li class="personal__list-item">
          Международными инвесторами
        </li>
      </ul>
    </div>
  </div>
</div>