<div class="popup popup_hidden" id="quest">
  <button class="popup__fw-closer"></button>
  <div class="popup__inner">
    <button class="popup__closer"></button>
    <div class="popup__content">
        <h3 class="popup__content-heading">Задать вопрос</h3>
        <span class="popup__content-subheading">Пожалуйста, заполните все пункты максимально подробно</span>
        <form class="popup__content-form">
          <input class="input" type="text" placeholder="Введите ваше имя" required>
          <input class="input" type="email" placeholder="Введите ваш email" required>
          <input class="input" type="tel" placeholder="Введите ваш телефон" pattern="[0-9]{11} required">
          <textarea class="textarea" placeholder="Ваш вопрос"></textarea>
          <button type="submit" class="popup__content-form-submit">Отправить</button>
          <label class="checkbox">
            <input class="checkbox__input" type="checkbox">
            <span class="checkbox__lable">
              Даю согласие на обработку моих <span class="popup__content-form-agreement-conten_underline">персональных данных.</span>
              Соглашаюсь с<a href="#" class="popup__content-form-agreement-conten_underline"> Политикой конфиденциальности</a>
            </span>
          </label>
        </form>
    </div>
  </div>
</div>
<div class="popup popup_hidden" id="consult">
  <button class="popup__fw-closer"></button>
  <div class="popup__inner">
    <button class="popup__closer"></button>
    <div class="popup__content">
        <h3 class="popup__content-heading">Получить консультацию</h3>
        <span class="popup__content-subheading">Пожалуйста, заполните все пункты максимально подробно</span>
        <form class="popup__content-form">
          <input class="input" type="text" placeholder="Введите ваше имя" required>
          <input class="input" type="email" placeholder="Введите ваш email" required>
          <input class="input" type="tel" placeholder="Введите ваш телефон" pattern="[0-9]{11} required">
          <textarea class="textarea" placeholder="Ваш вопрос"></textarea>
          <button type="submit" class="popup__content-form-submit">Отправить</button>
          <label class="checkbox">
            <input class="checkbox__input" type="checkbox">
            <span class="checkbox__lable">
              Даю согласие на обработку моих <span class="popup__content-form-agreement-conten_underline">персональных данных.</span>
              Соглашаюсь с<a href="#" class="popup__content-form-agreement-conten_underline"> Политикой конфиденциальности</a>
            </span>
          </label>
        </form>
    </div>
  </div>
</div>