<div class="principles">
  <div class="principles-head">
    <h2 class="heading principles-heading">Принципы работы</h2>
  </div>
  <div class="app__limiter">
    <div class="principles__blocks">
    <div class="principles__blocks-item">
      <div class="principles__blocks-heading">
        <div class="principles__blocks-num">
          1
        </div>
        <h3 class="user-input">Действуем в интересах наших клиентов</h3>
      </div>
      <p class="user-input">
        Наши решения всегда основаны на задачах, которые ставит перед нами клиент. Являясь независимым консультантом,
        мы заинтересованы в максимальной эффективности инвестиций для клиента. Мы выстраиваем долгосрочные
        доверительные отношения и прилагаем все усилия, для развития и процветания наших клиентов.
      </p>
    </div>
    <div class="principles__blocks-item">
      <div class="principles__blocks-heading">
        <div class="principles__blocks-num">
          2
        </div>
        <h3 class="user-input">Оказываем максимальный уровень сервиса</h3>
      </div>
      <p class="user-input">
        Мы стремимся постоянно развивать и совершенствовать качество оказываемых услуг. В нашей работе мы используем
        только самые надежные и проверенные инструменты от ведущих мировых инвестбанков и профучастников.
      </p>
    </div>
  </div>
  </div>
</div>