<div class="subscription">
  <div class="app__limiter">
    <div class="subscription__content">
      <div class="subscription__content-text">
        Подпишитесь на нашу рассылку и получайте персональные рекомендации, интересные статьи и новости компании.
      </div>
      <form class="subscription__content-form">
        <input class="subscription__content-input" type="email" placeholder="Введите e-mail" required>
        <button class="button subscription__button">Подписаться</button>
      </form>
    </div>
  </div>
</div>