<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../libs/slick.css">
  <link rel="stylesheet" href="../libs/slick-theme.css">
  <link rel="stylesheet" href="../styles/index.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:700,900|Roboto:300,400,500&amp;subset=cyrillic" rel="stylesheet">
  <title>{% block title %}Это заголовок по умолчанию{% endblock %}</title>
  <script src="../scripts/index.js"></script>
</head>
<body>
  <div class="app">
    {% block content %}
    <div class="app__content">Это контент по умолчанию</div>
    {% endblock %}
  </div>
</body>
</html>