// $media1175: "only screen and (max-width: 1175px)";
$media1050: "only screen and (max-width: 1050px)";
// $media1000: "only screen and (max-width: 1000px)";
$media950: "only screen and (max-width: 950px)";
$media850: "only screen and (max-width: 850px)";
$media750: "only screen and (max-width: 750px)";
$media650: "only screen and (max-width: 650px)";
$media550: "only screen and (max-width: 550px)";