<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список свёрстанных страниц</title>
</head>
<body>
    <h1>Список свёрстанных страниц</h1>
    <ul>
        <li><a href="pages/main.html">Главная</a></li>
        <li><a href="pages/about.html">О компании</a></li>
        <li><a href="pages/services.html">Услуги</a></li>
        <li><a href="pages/blog.html">Блог</a></li>
        <li><a href="pages/seekers.html">Соискателям</a></li>
        <li><a href="pages/contacts.html">Контакты</a></li>
    </ul>
</body>
</html>